@font-face {
  font-family: "rubikblack";
  src: url("../fonts/rubik-black-webfont.woff2") format("woff2"),
    url("../fonts/rubik-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "rubikblack_italic";
  src: url("../fonts/rubik-blackitalic-webfont.woff2") format("woff2"),
    url("../fonts/rubik-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rubikbold";
  src: url("../fonts/rubik-bold-webfont.woff2") format("woff2"),
    url("../fonts/rubik-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "rubikbold_italic";
  src: url("../fonts/rubik-bolditalic-webfont.woff2") format("woff2"),
    url("../fonts/rubik-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "rubikitalic";
  src: url("../fonts/rubik-italic-webfont.woff2") format("woff2"),
    url("../fonts/rubik-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rubiklight";
  src: url("../fonts/rubik-light-webfont.woff2") format("woff2"),
    url("../fonts/rubik-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rubiklight_italic";
  src: url("../fonts/rubik-lightitalic-webfont.woff2") format("woff2"),
    url("../fonts/rubik-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rubikmedium";
  src: url("../fonts/rubik-medium-webfont.woff2") format("woff2"),
    url("../fonts/rubik-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rubikmedium_italic";
  src: url("../fonts/rubik-mediumitalic-webfont.woff2") format("woff2"),
    url("../fonts/rubik-mediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rubikregular";
  src: url("../fonts/rubik-regular-webfont.woff2") format("woff2"),
    url("../fonts/rubik-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* poppins fonts */
@font-face {
  font-family: "poppinsbold";
  src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"),
    url("../fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppinsmedium";
  src: url("../fonts/poppins-medium-webfont.woff2") format("woff2"),
    url("../fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppinsregular";
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "rubikregular";
  outline: none;
}
body {
  font-family: "rubikregular";
  position: relative;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
h1, h2, h3, h4, h5 {
  color: #1e1c24;
  font-family: "rubikbold";
}
h1 {
  font-size: 4.6rem;
  letter-spacing: -0.53px;
}
h2 {
  font-size: 3.12rem;
}
h5 {
  font-size: 1.5rem;
  letter-spacing: 0px;
}
.grey-text {
  color: #b1aaaa;
  font-size: 1.25rem;
  font-family: "poppinsregular";
  letter-spacing: 0px;
  line-height: 1.3;
  padding-right: 18%;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.logo {
  font-size: 1.87rem;
  font-family: "rubikblack";
  color: #1e1c24;
}
.container {
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.WhyUs {
  position: relative;
  /* overflow-y: visible;
  overflow-x: hidden; */
}
.header {
  z-index: 2;
  padding-top: 25px;
}
.header .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.try-btn {
  width: 147px;
  height: 58px;
  border: 2px solid #fff;
  border-radius: 100px;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.08px;
  color: #fff;
  font-family: "poppinsregular";
}
/* illusion circles css */

.illusion-circles {
    position: absolute;
    left: 54%;
    overflow-x: hidden;
    margin-top: -500px;
    width: 100%;
    max-width: 100%;
    z-index: -1;
    overflow-y: visible;
}
@keyframes slideInRight {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.shape-blue {
  position: relative;
  left: 0;
  bottom: 0;
  /* animation: 800ms ease-out 0s 1 slideInRight; */
}
.shape-yellow {
  position: absolute;
  left: 4%;
  bottom: 0;
  width: 90%;
  /* animation: 900ms ease-out 0s 1 slideInRight; */
}
.shape-grey {
  position: absolute;
  left: 12%;
  bottom: 0;
  width: 75%;
  /* animation: 1000ms ease-out 0s 1 slideInRight; */
}
.ill-circle {
 
  overflow: hidden;
}
.h-100 {
  height: 100vh;
}

/* task management section css */
.task-management {
  height: 100%;
  display: flex;
  align-items: center;
}
.task-management__details {
  width: 50%;
  padding-top: 30px;
  text-align: left;
  z-index: 1;
}
.task-management__details .grey-text {
  margin-top: 20px;
  margin-bottom: 30px;
}
.try-for-free {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 50px;
}
.form-control {
  border: 2px solid #ebebeb;
  border-radius: 100px;
  color: #1e1c24d9;
  letter-spacing: 0.8px;
  padding: 20px;
  display: flex;
  align-items: center;
  width: 65%;
  font-size: 1.2rem;
}
.form-control::placeholder {
  color: #1e1c24d9;
  opacity: 0.36; /* Firefox */
}
.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  opacity: 0.36;
  color: #1e1c24d9;
}
.subscribe-btn {
  border-radius: 100px;
  color: #ffffff;
  padding: 20px;
  display: flex;
  align-items: center;
  width: 30%;
  font-size: 1.2rem;
  background-color: #0634ff;
  margin-left: 5%;
  border: 0;
  cursor: pointer;
  font-family: "poppinsregular";
  box-shadow: 0px 30px 50px #0634ff57;
  letter-spacing: 0.92px;
  justify-content: center;
  transition: 0.2s ease-in;
}
.subscribe-btn:hover {
  background-color: #0a31e1;
}
.taskmanagement-imgs {
  width: 50%;
  z-index: 4;
  position: absolute;
  right: -30px;
  top: 90px;
}
.card-one {
    width: 90%;
    height: 90%;
    z-index: -1;
}
.card-two {
    position: absolute;
    /* top: 20%; */
    z-index: -2;
    left: -50px;
    bottom: -20%;
}
.card-three {
    position: absolute;
    left: 0%;
    z-index: -4;
    bottom: -45%;
    height: 80%;
}
.card-four {
    position: absolute;
    right: -6%;
    /* width: 80%; */
    z-index: -3;
    top: 57%;
    height: 94%;
}
/* branding logos */
.key-fetures-section {
  position: relative;
}
.branding-logos {
  position: absolute;
  width: 50%;
  top: -40px;
}
.branding-logos ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
.branding-logos ul li {
  width: 32%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.branding-logos ul li:first-child {
  width: 22%;
}
.branding-logos ul li:first-child img {
  width: 98px;
}
.branding-logos ul li:nth-child(2) img {
  height: 43px;
}
.branding-logos ul li:nth-child(2) {
  width: 45%;
}
.branding-logos ul li:nth-child(3) {
  width: 23%;
  text-align: right;
}
.branding-logos ul li:nth-child(6) {
  text-align: right;
}
.branding-logos ul li:nth-child(9) {
  text-align: right;
}
.branding-logos ul li .brands {
  width: 60%;
}

/* key benefits */
.key-benefits {
  height: 100%;
  display: flex;
  align-items: center;
  /* padding-top: 7%; */
}
.key-benefits h2 {
  text-align: center;
}
.key-benefits__list {
  display: flex;
  justify-content: space-around;
  margin-top: 8%;
  margin-bottom: 5%;
  width: 100%;
}
.key-benefits__list li {
  width: 27%;
  text-align: center;
}
.key-benefits__list li h5 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.key-benefits__list li p {
  font-size: 1rem;
  color: #b1aaaa;
  font-family: "poppinsregular";
  line-height: 1.5;
}
.key-benefits__wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  /* margin-top: 25%; */
  flex-direction: column;
}

/* why section css */
.why-section {
  height: 100vh;
  position: relative;
  margin-top: 10%;
}
.why-section .row {
  height: 100%;
  align-items: center;
  position: relative;
  padding-bottom: 20%;
}
.rank-project {
  width: 50%;
  position: relative;
  padding-bottom: 30px;
}
.why-section__details {
  width: 50%;
  padding-left: 3%;
  padding-top: 20px;
}
.why-section__details p {
  font-size: 1.1rem;
  color: #b1aaaa;
  font-family: "poppinsregular";
  line-height: 1.5;
  margin-top: 15px;
}
.why-rank-project-img {
  position: relative;
  top: 30px;
  right: 61px;
}
.why-img-one {
  position: relative;
  top: 0;
  right: 0;
}
.why-img-two {
  position: absolute;
  right: -8%;
  top: 30%;
  bottom: 0;
  width: 80%;
}
.why-shape-img-two {
  width: 57%;
  position: absolute;
  left: -34%;
  /* bottom: 0; */
  top: 152px;
}
/* @keyframes slideInLeft {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  } */
.why-shape-img-one {
  position: absolute;
  left: -264px;
  top: -57px;
  width: 48%;
  transform: rotate(75deg);
  /* animation: 900ms ease-out 0s 1 slideInLeft; */
}
.why-section-shapes {
  position: relative;
  z-index: -1;
}
.learnmore-btn {
  font-size: 1.12rem;
  font-family: "poppinsbold";
  margin-top: 25px;
  display: flex;
  align-items: center;
  color: #1e1c24;
}
.learnmore-btn span img {
  margin-left: 10px;
}
.learnmore-btn:hover span img {
  transform: scaleX(1);
  width: 50px;
  height: 12px;
  transition: 0.3s;
}

/* get better section */
.get-better {
  padding-top: 120px;
  position: relative;
  overflow: hidden;
  padding-bottom: 80px;
}
.get-better::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  display: block;
  z-index: -2;
}
.get-better-section {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}
.get-better-section p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #1e1c24;
  margin-top: 15px;
  font-family: "poppinsregular";
}
.get-better-section .try-for-free {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 60px;
}
.get-better-section .subscribe-btn {
  box-shadow: none;
}
.get-better-img {
  /* position: absolute;
    z-index: -1;
    right: -461px;
    bottom: -109px;
    width: 51%;
    transform: rotate(137deg); */
}
.signup-img-area {
  position: absolute;
  right: -92px;
  top: 0;
}
.signup-img {
  transform: rotate(15deg);
}
.scrollable-section {
  /* height: 100vh; */
  max-width: 100%;

}
.get-better.scrollable-section {
  height: auto !important;
}
/* responsive media queries */
@media (max-width: 1400px) {
  html {
    font-size: 15px;
  }
  
}
@media (max-width: 1370px) {
  .key-benefits__wrapper {
    margin-top: 25%;
  }
}
@media (max-width: 1290px) {
  html {
    font-size: 14px;
  }
  .illusion-circles {
    margin-top: -340px;
  }
  .why-shape-img-two {
    width: 62%;
    left: -36%;
    top: 165px;
  }
  .branding-logos ul li .brands {
    width: 52%;
  }
  .key-benefits__list {
    margin-top: 5%;
  }
}
@media (max-width: 1025px) { 
  .key-benefits__list {
    margin-top: 5%;
  }
}
@media (max-width: 992px) { 
  html {
  font-size: 14px;
  }
  .container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;

  }
  .grey-text {
    padding-right: 0;
  }
  h1 {
    font-size: 4rem;
    letter-spacing: -0.53px;
  }
  h2 {
    font-size: 2.9rem;
  }
 
  /* section, .scrollable-section, .why-section {
    height: auto !important;
  } */
}
@media (max-width: 770px) {
  html {
    font-size: 14px;
  }
   
    .task-management__details {
      width: 100%;
    }
    .task-management {
      height: auto;
    }
    .taskmanagement-imgs {
      position: relative;
      width: 100%;
      margin-bottom: 32%;
      margin-top: 0;
    }
    .card-one {
      width: 500px;
      height: 400px;
      margin-top: -84px;
    }
    .illusion-circles {
      top: -29%;
    }
    .shape-grey {
      left: 27%;
    }
    .shape-yellow {
      left: 12%;
    }
   
    .card-two {
      left: -10%;
      bottom: -36%;
    }
    .card-three {
      left: 0%;
      z-index: -4;
      bottom: -34%;
    }
    .card-four {
      right: 0;
      top: 0;
    }
    .h-100 {
      height: auto;
    }
    .try-for-free {
      margin-bottom: 0;
    }
    .subscribe-btn {
      box-shadow: none;
    }
    .branding-logos {
      position: relative;
      width: 100%;
      top: 25px;
    }
    .scrollable-section {
      height: auto !important;
    }
    .branding-logos ul li {
      height: auto !important;
    }
    .key-benefits {
      padding-top: 0;
    }
    .taskmanagement-imgs {
      /* display: none; */
    }
    .key-benefits__list li p br{
      display: none;
    }
    .key-benefits__list {
      flex-direction: column;
    }
    .key-benefits__list li {
      width: 100%;
    }
    section {
      /* overflow-x: hidden;
      overflow-y: visible; */
      height: auto !important;
      overflow-x: hidden;
    }
    .rank-project {
      width: 100%;
      margin-bottom: 30px;
    }
    .why-shape-img-one {
      left: -250px;
      top: -62px;
      width: 73%;
      transform: rotate(75deg);
    }
    .why-rank-project-img {
      right: 0;
    }
    .key-benefits__list li {
      margin-bottom: 20px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .key-benefits__wrapper {
      margin-top: 35px;
    }
    .why-section {
      margin-top: 10px;
    }
    .why-section__details {
      width: 100%;
    }
    .why-section__details h2 br {
      display: none;
    }
    .why-section__details p br {
      display: none;
    }
    .why-section .row {
      padding-bottom: 35px;
    }
    .get-better-section {
      width: 100%;
    }
    .get-better-section .subscribe-btn {
      border: 1px solid #fff;
      z-index: 2;
    }
    .branding-logos ul li:nth-child(2) img {
      height: auto;
    }
    body {
      overflow: auto !important;
    }
    .why-section__details {
      padding-left: 0;
      margin-top: 20px;
    }
    .key-benefits__list li p {
      font-size: 16px;
    }
    .key-benefits {
      border-top: 1px solid #ededed;
      margin-top: 25px;
    }
    .why-section {
      border-top: 1px solid #ededed;
    }
    .get-better-section .try-for-free {
      margin-bottom: 10px;
    }
    .card-one[data-aos][data-aos][data-aos-delay="1200"], body[data-aos-delay="1200"] [data-aos] {
      transition-delay: 0s !important;
    }
    .card-two[data-aos-delay] {
      transition-delay: 0s !important;
    }
}

@media (max-width: 576px) {
  /* .container {
    max-width: 540px;
  } */
  h1 {
    font-size: 3.8rem;
    letter-spacing: -0.53px;
  }
  h2 {
    font-size: 2.5rem;
  }
  .illusion-circles {
    margin-top: -379px;
  }
  .try-for-free {
    flex-direction: column;
  }
  .try-for-free .form-control {
    width: 100%;
    margin-bottom: 15px;
  }
  .subscribe-btn {
    width: 100%;
    margin-left: 0;
  }
  .key-benefits__wrapper h2 br {
    display: none;
  }
  .signup-img-area {
    z-index: -1;
    right: -153px;
  }
  .get-better-section p {
    font-size: 1.3rem;
  }
  .get-better-section p br {
    display: none;
  }
  .get-better {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .why-shape-img-one {
    left: -236px;
    top: -62px;
    width: 100%;
  }
  .branding-logos ul li:nth-child(2) {
    width: 32%;
  }
  .taskmanagement-imgs {
    display: none;
  }
  .card-one {
    width: 300px;
    height: 300px;
    margin-top: -84px;
  }
  .card-two {
    left: -13%;
    bottom: -9%;
  }
  .card-three {
    bottom: -15%;
    left: 0;
  }
  .card-four {
    right: 15px;
    top: 0;
  }
  .branding-logos ul{
    margin-top: 20px;
  }
  .key-benefits {
    border-top: 1px solid #ededed;
    margin-top: 25px;
  }
  .why-section {
    border-top: 1px solid #ededed;
  }
  .get-better-section .try-for-free {
    margin-bottom: 10px;
  }
  .illusion-circles {
    top: 0;
  }
}
@media (max-width: 450px) {
  .illusion-circles {
    margin-top: -228px;
    top: 0;
  }
  .get-better-section p {
    font-size: 1.2rem;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  .illusion-circles {
    top: 4%;
    left: 48%;
    width: 100%;
  }
  .why-shape-img-one {
    left: -191px;
    top: -19px;
  }
}
@media (max-width: 360px) {
  h1 {
    font-size: 3.2rem;
  }
  h2 {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  h1 {
    font-size: 3.8rem;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1370px;
  }
  h1 {
    font-size: 3.9rem;
  }
  .key-benefits {
    padding-top: 28%;
  }
  .why-shape-img-two {
    width: 63%;
    position: absolute;
    left: -34%;
    /* bottom: 0; */
    top: 195px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1570px;
  }
  h1 {
    font-size: 4.6rem;
  }
  .key-benefits {
    padding-top: 22%;
  }
  .why-shape-img-two {
    width: 63%;
    left: -34%;
    top: 197px;
  }
 
}
@media (min-width: 1900px) {
  .container {
    max-width: 1870px;
  }
  h1 {
    font-size: 4.6rem;
  }
  .why-rank-project-img {
    top: 60px;
  }
  .why-shape-img-two {
    width: 61%;
    position: absolute;
    left: -34%;
    /* bottom: 0; */
    top: 175px;
  }
  .why-shape-img-one {
    left: -365px;
    top: -128px;
    width: 49%;
    transform: rotate(72deg);
  } 
  .key-fetures-section {
    height: 100vh;
  }
  .branding-logos {
    top: -80px;
    margin-top: 3%;
    margin-bottom: 3%;
  }
}
@media (min-width: 2400px) {
  .container {
    max-width: 2258px;
  }
}
